# Tag BU04 — DAPLink CMSIS-DAP (ttyACM1)
source [find interface/cmsis-dap.cfg]
adapter serial 00000080001100353600000a4e573052a5a5a5a597969908
transport select swd
adapter speed 10
source [find target/stm32f1x.cfg]
reset_config srst_only srst_push_pull connect_assert_srst
