# Anchor BU04 — DAPLink CMSIS-DAP (ttyACM0)
source [find interface/cmsis-dap.cfg]
adapter serial 00000080000900433000000b4e593053a5a5a5a597969908
transport select swd
adapter speed 1000
source [find target/stm32f1x.cfg]
